.stack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.stack-image {
    width: 100px;
    list-style: none;
}

.stack-image img{
    width: 100%;
}

.inner .actions{
    margin-top: 2em;
}

.background1 {
    background-color: #082527;
}

.background2 {
    background-color: #1c3334;
}